<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de contacto</title>
    <link rel="shortcut icon" href="/Public/images/icono_practico1.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="/Public/css/styles.css">
</head>
<body>
    <header class="header-inicio">
        Bienvenidos a TeleCine
    </header>
    <nav class="nav-inicio">
        <ul class="ul-inicio">
            <li> <a href="/index.html">Inicio</a></li>
            <li><a href="http://">Noticias</a></li>
            <li><a href="http://">Programas</a></li>
            <li><a href="/views/contacto.html">Contacto</a></li>
            <li><a href="http://">Galería</a></li>
        </ul>
        
    </nav>
    <main class="main-galeria">
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/o5obzbQnl1M?si=IWdE901wO50Cuuri" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </main>
    <footer class="footer-inicio">
        
    </footer>
    
</body>
</html>