/* Colores estándar */
:root {
  --color-background: #F3F3E0;   
  --color-tipografia: rgb(78, 78, 78);   
}

body {
  background-color: var(--color-background); 
  font-family: 'Roboto', sans-serif;          
  color: var(--color-tipografia);            
  
}

footer {
  background-color: var(--color-background); 
  font-family: 'Roboto', sans-serif;          
  color: var(--color-tipografia);            
  text-align: center; 
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; 
  text-align: center; 
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; 
  text-align: center; 
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; 
  text-align: center; 
}


#carousel{
  width: 100%; 
  
}
.carousel-item img {
  max-height: 600px; 
  object-fit: cover; 
}

